body{
	background-color: #121212;
}
.heading{
	color: white;
	text-align: center;
	font-size: 50px;
}
table, th, td {
  border: 1px solid white;
  color: black;
   border-collapse: collapse;
}
h2{
	text-align: center;
	color: white;
}
p{
	text-align: center;
	color: white;
}
th, td {
  background-color: cyan;
}